<div class="clearfix de" ng-controller="footCtrl">
    <div class="foot">
        <ul class="foot-ul">
            <li ui-sref="main" ng-click="fclick()" ui-sref-active="select" id="main"> <i class="fa fa-home fa-lg "></i><span >首页</span></li>
            <li ui-sref="comebar" ui-sref-active="select"><i class="fa fa-share-square-o"></i><span>进吧</span></li>
            <li ng-click="click()"><span class="plus"><i class="fa fa-arrows wow rotateIn" data-wow-duration = "2s"></i></span></li>
            <li ui-sref="live" ui-sref-active="select" ><i class="fa fa-video-camera"></i><span>直播</span></li>
            <!--<li ng-click="state()" ui-sref-active="select"><i class="fa fa-user-o"></i><span>我的</span></li>-->
            <li ui-sref="mine"  ui-sref-active="select"><i class="fa fa-user-o"></i><span>我的</span></li>
        </ul>

    </div>
</div>