<div class=" de" >
    <div class="head ">
        <div class="head-left">
            <i class="fa fa-search fa-lg wow zoomInUp"></i>
        </div>
        <div class="head-middle">
            <ul>
                <li id="1"  ui-sref="focus"   ui-sref-active="select" ng-click="tclick(1)" class="wow rubberBand" data-wow-delay = "0.6s"><span >关注</span></li>
                <li id="2" ui-sref="recommended"  ui-sref-active="select"  ng-click="tclick(2)" class="wow rubberBand"  data-wow-delay = "1.2s"><span >推荐</span></li>
                <li id="3" ui-sref="film"  ui-sref-active="select" ng-click="tclick(3)" class="wow rubberBand" data-wow-delay = "1.8s" > <span >视频</span></li>
                <!--<div ui-view="son"></div>-->
            </ul>
        </div>
        <div class="head-right">
            <i class="fa fa-bell-o fa-lg wow zoomInUp"></i>
        </div>
    </div>


</div>