<div class="clearfix tab " >
    <ul class="plus-ul">
        <li  ui-sref="text" class="wow bounceInUp" data-wow-delay="0.1s"><i class="fa fa-edit" ></i><span >文字</span></li>
        <li class="wow bounceInUp" data-wow-delay="0.2s"><i class="fa fa-camera" ></i><span>拍摄</span></li>
        <li class="wow bounceInUp" data-wow-delay="0.3s"><i class="fa fa-file-picture-o" ></i><span>图片</span></li>
        <li ui-sref="film" class="wow bounceInUp" data-wow-delay="0.4s"><i class="fa fa-film" ></i><span >直播</span></li>
    </ul>
    <div>+</div>
</div>